:root {
  --primary-text-color: #757575;
  --main-title-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-links-color: #rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-background-color);
}

/* Utilities */

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  outline: 1px solid tomato;
}

/* Header */
.header {
  display: flex;
}

.header-nav {
  display: flex;
}

.logo {
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 24px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--title-color);
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;
  color: var(--title-color);

  list-style-type: none;
  text-decoration: none;
}

.nav-item a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--title-color);
}

.nav-item a:hover,
.nav-item a:focus {
  color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav {
  display: flex;
  margin-left: auto;

  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  list-style-type: none;
}

.contacts-nav__item a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.contacts-nav__item a:hover,
.contacts-nav__item a:focus {
  color: var(--accent-color);
}

.contacts-nav__item:not(:first-child) {
  margin-left: 50px;
}

/* Hero section */

.hero-section {
  background-color: darkslategrey;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--main-title-color);
  cursor: pointer;
}

/* Advantages */

.advantages-list {
  list-style-type: none;
}

.advantages-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}

.advantages-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Tasks */
.task-section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.tasks-list {
  list-style-type: none;
}

/* Team */
.team-section {
  background-color: var(--secondary-background-color);
}

.team-section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.team-list {
  list-style-type: none;
}

.team-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.team_item__description {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background-color: var(--footer-background-color);
}

.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.footer-logo__part {
  color: var(--main-title-color);
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

.contact {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* Portfolio */

.btn-section__list {
  list-style-type: none;
}

.btn-section__list .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  outline: none;

  cursor: pointer;
}

.btn-section__list .btn:focus,
.btn-section__list .btn:hover {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.portfolio-list {
  list-style-type: none;
}
.portfolio-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-color);
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
