.tasks {
  padding-bottom: 94px;
}

.tasks--list {
  margin-top: 50px;

  display: flex;
}

.tasks--img {
  display: block;
}

.tasks--item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.tasks--img__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  position: absolute;
  bottom: 0;

  display: block;
  text-align: center;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $main-white-color;
  background-color: rgba(47, 48, 58, 0.8);
}
