.contacts-navigation {
  margin-left: auto;

  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $primary-text-color;
}

.contacts-navigation--link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;

  color: $primary-text-color;
}

.contacts-navigation--item svg {
  margin-right: 10px;
  vertical-align: bottom;
  max-height: 16px;
  max-width: 16px;

  transition: color 250ms $cubic, fill 250ms $cubic;
}

.contacts-navigation--item :hover,
.contacts-navigation--item :focus {
  color: $accent-color;
  fill: $accent-color;
}

.contacts-navigation--item:not(:first-child) {
  margin-left: 50px;
}
