.navigation {
  @include for-size(tablet) {
    align-items: center;
    display: flex;
  }
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
  margin-right: 50px;
  @include for-size(tablet) {
    margin-bottom: 0;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $title-color;
  @include for-size(tablet) {
    padding-top: 32px;
    padding-bottom: 32px;

    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-color;

    transition: color 250ms $cubic;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}


.active {
  color: $accent-color;

  @include for-size(tablet) {
    &::after {
      content: '';

      width: 100%;
      height: 4px;
      margin-top: -4px;
      margin-bottom: 0px;

      display: block;

      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

.active > a {
  color: $accent-color;
}





