@mixin for-size($range) {
  $phone: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $range == phone {
    @media (max-width: #{$phone - 1}) {
      @content;
    }
  } @else if $range == phone {
    @media (min-width: $phone) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}
