.icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: $secondary-background-color;
  border-radius: 4px;
}

.icon > svg {
  width: 70px;
  height: 70px;
}

.contacts-icons {
  padding: 0px 32px;

  display: flex;
}

.contacts-icon--link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:hover .contacts-icon,
  &:focus .contacts-icon {
    fill: $main-white-color;
  }
}

.contacts-icons > li:not(:last-child) {
  margin-right: 10px;
}

.contacts-icon {
  width: 20px;
  height: 20px;

  fill: #afb1b8;
  transition: fill 250ms $cubic;
}

.footer-icon {
  background: rgba(255, 255, 255, 0.1);
}

.footer-icon > svg {
  fill: $main-white-color;
}

.footer-icons > li:not(:last-child) {
  margin-right: 10px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $main-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:active {
    fill: $accent-color;
  }
}
